<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
       <%= render 'follow_form' if signed_in? %>
      <%= render 'shared/broments' %>
    </td>
    <td class="sidebar round">
      <strong>User Name</strong> <%= @user.loginId %><br />
      <strong>Reputation</strong> <%= @user.fistPumps %><br />
      <strong>URL</strong>  <%= link_to @user.loginId + "'s page", @user %>
      <strong>Broments</strong> <%= @user.broments.count %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>