<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
      <% unless @user.broments.empty? %>
        <table class="broments" summary="User broments">
          <%= render @broments %>
        </table>
        <%= will_paginate @broments %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>User Name</strong> <%= @user.loginId %><br />
      <strong>Reputation</strong> <%= @user.fistPumps %><br />
      <strong>URL</strong>  <%= link_to @user.loginId + "'s page", @user %>
      <strong>Broments</strong> <%= @user.broments.count %>
    </td>
  </tr>
</table>